extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
        br
        br
        a.button.btn.btn-default(href='/pageone', type='button') pageone
        br
        br
        a.button.btn.btn-default(href='/pagetwo', type='button') pagetwo