extends layout

block content
  .row.page-header
    .col-lg-12 
    h1 Page One
  .container
    .row
      .col-lg-3
        | I am in a column
      .col-lg-3
        | I am in a column
      .col-lg-3
        | I am in a column
      .col-lg-3
        | I am in a column
      
        
   